.DS_Store
.dart_tool/

*.lock
.packages
.pub/
.idea/
.vscode/

node_modules/

build/

.flutter-plugins
android/key.properties

ios/Runner.app.dSYM.zip
ios/Runner.ipa
ios/fastlane/report.xml
ios/Flutter/flutter_export_environment.sh
android/fastlane/report.xml

gen/
example/ios/Flutter/flutter_export_environment.sh
example/ios/Podfile
