name: intent
description: A simple to use Flutter plugin to deal with Android Intents - your one-stop-solution for Android Intents.
version: 2.0.0-nullsafety.0
homepage: https://github.com/itzmeanjan/intent

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.12.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: io.github.itzmeanjan.intent
        pluginClass: IntentPlugin
